{{define "content"}}
<div class="main-searchbar">
  <input
    class="main-searchbar__input"
    type="text"
    placeholder="Search something here..."
  />
</div>
<div class="search-result">
  <a href="#" class="search-result__item">
    <h2 class="search-result__title">
      Has AI Killed the Joy of Coding? How to Get It Back
    </h2>
    <p class="search-result__description">
      AI hasn't killed the joy of coding, it's moved the craft up the stack.
      Here's where problem-solving actually went, and how engineers can find it
      again.
    </p>
    <div class="search-result__link">https://detailed.com/link/to/content</div>
  </a>
  <a href="#" class="search-result__item">
    <h2 class="search-result__title">
      Has AI Killed the Joy of Coding? How to Get It Back
    </h2>
    <p class="search-result__description">
      AI hasn't killed the joy of coding, it's moved the craft up the stack.
      Here's where problem-solving actually went, and how engineers can find it
      again.
    </p>
    <div class="search-result__link">https://detailed.com/link/to/content</div>
  </a>
  <a href="#" class="search-result__item">
    <h2 class="search-result__title">
      Has AI Killed the Joy of Coding? How to Get It Back
    </h2>
    <p class="search-result__description">
      AI hasn't killed the joy of coding, it's moved the craft up the stack.
      Here's where problem-solving actually went, and how engineers can find it
      again.
    </p>
    <div class="search-result__link">https://detailed.com/link/to/content</div>
  </a>
  <div>
    <div class="card">
      <div class="card__header">Card title</div>
      <div class="card__body">
        <p>Body content…</p>
      </div>
      <div class="card__footer">
        <a href="#" class="button">Action</a>
      </div>
    </div>
    {{end}}
  </div>
</div>
