{{define "content"}}
<form id="main-searchbar" hx-get="/" class="main-searchbar" hx-swap-oob="true">
  <input
    name="q"
    class="main-searchbar__input"
    type="text"
    placeholder="Search something here..."
    value="{{.SearchQuery}}"
  />
</form>

<div id="ai-summary" class="card" hx-swap-oob="true">
  <div class="card__inner">
    <h4 class="card__header">AI Summary</h4>
    <div class="card__body">
      <p>
        The last time you had a cheeseburger was too long ago. Try not to drool
        when you think about the slightly charred, medium-rare meat nestled
        between soft brioche, cradled in crisp iceberg lettuce and flavour
        amplifying condiments. Why are you still reading this- go get a
        cheeseburger.
      </p>
    </div>
    <div class="card__footer">
      <a href="#" class="button">Read More</a>
    </div>
  </div>
</div>

<div id="search-result" class="search-result" hx-swap-oob="true">
  {{ range .Results }}
  <a href="#" class="search-result__item">
    <h2 class="search-result__title">{{ .Title }}</h2>
    <p class="search-result__description">{{ .Description }}</p>
    <div class="search-result__link">{{ .Link }}</div>
  </a>
  {{ end }}
</div>
{{end}}
