<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HTMX Basic</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="htmx-config" content="defaultSwap: outerHTML" />
    <link rel="stylesheet" href="/static/normalize.css" />
    <link rel="stylesheet" href="/static/open-props.css" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    {{block "content" .}}{{end}}
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6/dist/htmx.min.js"
      integrity="sha384-6lyVbhrs13b9z7mLOpt/N6R76rtkEBWgCjAXRs/DSWyi2AMnQSs10ijWk+PI8n7W"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
