<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Testing Unpolly</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/unpoly@3.11.0/unpoly.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/unpoly@3.11.0/unpoly-bootstrap5.min.css"
    />
  </head>
  <body>
    <h1>Another Content!</h1>

    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.11.0/unpoly.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
